<div class="footer">
	<div class="w3-row bottom-menu">
		<div class="w3-col s4" style="color: coral">
			<a href="/">
				<p class="bottom-menu-margin"><i class="fa fa-money" aria-hidden="true"></i></p>
				<p class="bottom-menu-margin">Валюта</p>
			</a>
		</div>

		<div class="w3-col s4">
			<a href="/balance">
				<p class="bottom-menu-margin"><i class="fa fa-briefcase" aria-hidden="true"></i></p>
				<p class="bottom-menu-margin">Портфель</p>
			</a>
		</div>

		<div class="w3-col s4">
			<a href="/ot">
				<p class="bottom-menu-margin"><i class="fa fa-line-chart" aria-hidden="true"></i></p>
				<p class="bottom-menu-margin">Мои заявки</p>
			</a>
		</div>

	</div>
</div>
