<!DOCTYPE html>
<html>
<head>
<title>Instruments</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/svg.css' %}">


</head>
<body>
{% csrf_token %}

<div class="w3-content w3-container" id="portfolio">
  <h4 class="w3-center">ВАЛЮТА</h4>
  <br>
  
  <div id="allfx"></div>

</div>

{% include "bottom-menu.html" %}

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'js/instruments.js' %}"></script>
<script src="{% static 'js/customerID.js' %}"></script>
<script>
	register_user();
</script>

</body>
</html> 
