<!DOCTYPE html>
<html>
<head>
<title>Trade</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/svg.css' %}">

</head>
<body>

<div class="w3-content w3-container" id="portfolio">

	<h3>Мои заявки</h3>
	<div id="myorders"></div>

	<h3>Мои сделки</h3>
	<div id="mytrades"></div>

  

</div>

{% include "bottom-menu.html" %}


{% load static %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'js/customerID.js' %}"></script>
<script src="{% static 'js/my_trades_orders.js' %}"></script>

<script>
	get_mytrades();
	get_myorders();
</script>
</body>
</html> 
