<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   //background-color: coral;
   color: grey;
   text-align: center;
   border-top: 3px solid #F8F8F8;
}

.bottom-menu{
	background-color: white;
}

.line {
		  fill: none;
		  stroke: #D3D3D3;
		  stroke-width: 1px;
		}

.minch{
	width:100%;
	float:left;
	margin:0px 0px 0px 3px;
}
</style>
</head>
<body>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container" id="portfolio">
  <h3 class="w3-center">ВАЛЮТА</h3>
  <p class="w3-center"><em>список инструментов</em></p>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div id="stdout" class="minch"></div>
  
  <div class="w3-row-padding w3-center">
    <div class="w3-col s6 bs">
      
    </div>
	<div class="w3-col s6 bs">
      
    </div>
	<div class="w3-col s6 bs">
      
    </div>
	<div class="w3-col s6 bs">
      
    </div>
	<div class="w3-col s6 bs">
      
    </div>
	<div class="w3-col s6 bs">
      
    </div>
	<div class="w3-col s6 bs">
      
    </div>
	<div class="w3-col s6 bs">
      
    </div>
	<div class="w3-col s6 bs">
      
    </div>
	<div class="w3-col s6 bs">
      
    </div>
	
  </div>
  
 



  </div>
</div>

<!--<div class="footer">
	<div class="w3-row bottom-menu">
		<div class="w3-col s3" style="color: coral">
			<span class="w3-small"><i class="fa fa-money" aria-hidden="true"></i></span>
			<span class="w3-small">Валюта</span>
		</div>
		<div class="w3-col s3">
			<span class="w3-small"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
			<span class="w3-small">Купить</span>
		</div>
		<div class="w3-col s3"> 
			<span class="w3-small"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
			<span class="w3-small">Портфель</span>
		</div>
		<div class="w3-col s3">
			<span class="w3-small"><i class="fa fa-user" aria-hidden="true"></i></span>
			<span class="w3-small">Я</span>
		</div>
	</div>
</div>-->


<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
ticker_names = {
	"USD000UTSTOM": "USD/RUB",
	"EUR_RUB__TOM": "EUR/RUB", 
	"CNYRUB_TOM": "CNY/RUB",
	"USDCNY_TOM": "USD/CNY", 
	"KZTRUB_TOM": "KZT/RUB", 
	"HKDRUB_TOM": "HKD/TOM",
	"TRYRUB_TOM": "TRY/RUB", 
	"EURUSD000TOM": "EUR/USD"
}

draw("USD000UTSTOM");

function draw(ticker, divid="#stdout"){
	var margin = {top: 0, right: 0, bottom: 0, left: 0},
		width = 328 - margin.left - margin.right,
		height = 200 - margin.top - margin.bottom;
		
	var x = d3.scaleBand().range([0, width]).padding(0.2);
	var y = d3.scaleLinear().range([height, 0]);

	// parse the date / time
	var parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S");

	var svg = d3.select(divid).append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
	  .append("g")
		.attr("transform",
			  "translate(" + margin.left + "," + margin.top + ")");
			  
	var x_timeline = [];
			  
	var colorScale = d3.scaleLinear().domain([-2, -1.5,-1, -0.5, 0, 0.5, 1, 1.5, 2])
			.range(['rgb(246, 53, 56)', 'rgb(246, 53, 56)', 'rgb(191, 64, 69)', 'rgb(139, 68, 78)',
			'rgb(65, 69, 84)', 'rgb(53, 118, 78)', 'rgb(47, 158, 79)', 'rgb(48, 204, 90)', 'rgb(48, 204, 90)']);

	
	d3.json("https://iss.moex.com/iss/engines/currency/markets/selt/boards/cets/securities/"+ticker+"/candles.json?from=2022-11-11&till=2022-11-11&interval=10&iss.json=extended").then(function(data) {

		data = data[1]['candles'][1];

		console.log(data);

		data.forEach(function(d) {
		  //d.begin = parseTime(d.begin);
		  d.close = +d.close;
		  x_timeline.push(d.begin);
		});
		
		x.domain(x_timeline);

		
		// Scale the range of the data
		//x.domain(d3.extent(data, function(d) { return d.end; }));
		y_min = d3.min(data, function(d) { return d.low; });
		y_max = d3.max(data, function(d) { return d.high; });
		y_first = data[0]["open"];
		y_last = data[data.length-1]["close"];
		chg = Math.round(10000 * (y_last - y_first) / y_first) / 100;
		chg2 = Math.round(10000 * (y_max - y_min) / y_min) / 100;

		y.domain([y_min, y_max]);
		var x_offset = 2;

		// candle min max line
		svg.selectAll("line3")
			.data(data)
			.enter()
			.append("line")
			.style("stroke", "black")
			.style("stroke-width", 1)
			.attr("x1", function(d) { return x(d.begin) + x_offset; })
			.attr("y1", function(d) { return y(d.low); })
			.attr("x2", function(d) { return x(d.begin) + x_offset; })
			.attr("y2", function(d) { return y(d.high); });
			
		// append the rectangles for the bar chart
		svg.selectAll(".candlebar")
			.data(data)
			.enter()
			.append("rect")
			.style("stroke", "black")
			.style("stroke-width", 0.5)
			.attr("x", function(d) { return x(d.begin); })
			.attr("width", x.bandwidth())
			.attr("y", function(d) { return y(d3.max([d.open, d.close])); })
			.attr("height", function(d) { return y(d3.min([d.open, d.close])) - y(d3.max([d.open, d.close])) + 0.1; })
			.attr("fill", function(d) {if(d.open > d.close){return "#FF3131"}; return "#4CBB17";})
			.attr("opacity", 1);
	

	});
}
</script>

</body>
</html> 
